<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapInspector">
          <WcfMessageLogger />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStudentOperationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58794/StudentOperationService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IStudentOperationService" 
                contract="StudentOperationReference.IStudentOperationService"
                behaviorConfiguration="SoapInspector"
                name="BasicHttpBinding_IStudentOperationService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="WcfMessageLogger" type="WcfUtility.WcfMessageLoggerExtension, WcfUtility" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" type="File" fileName="C:\logs\client.txt" deleteOldFileOnStartup="true" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>